.jumbo-style {
    background-image: linear-gradient(-225deg, #2cd8d5 0%, #6b8dd6 48%, #8e37d7 100%);
  }

.img-size{
    width: 160px;
    height: 50px;
}

.tab-title{
    font-size:25px;
    font-weight: 500;
}

.font-details-card{
    font-size: 20px;
}